<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <header th:fragment="header">
        <h1>Welcome</h1>
    </header>
    
    <nav th:fragment="menu">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/about}">2</a>
        <a th:href="@{/blog}">3</a>
        <a th:href="@{/contact}">4</a>
    </nav>
    
    <footer th:fragment="footer">
        <p>&copy; 2020 footer</p>
    </footer>
</body>
</html>