<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

	<div th:fragment="navbar">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-default navbar-fixed-top">
						<div class="navbar-header">
							<!-- Mobile Toggle Menu Button -->
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar"
								aria-expanded="false" aria-controls="navbar">
								<i></i>
							</a>
							<a class="navbar-brand" href="/">ONLINE LOCKER SERVICE</a>
						</div>

						<ul class="nav navbar-nav navbar-right">
							<li class="active">
								<a href="/">
									<span>Home</span>
								</a>
							</li>

							<li sec:authorize="isAuthenticated()">

								<a th:href="@{/logout}">
									<span>Logout </span>
								</a>

							</li>


						</ul>

					</nav>
				</div>
			</div>
		</header>
	</div>

	<!--     <nav th:fragment="menu"> -->
	<!--         <a th:href="@{/}">Home</a> -->
	<!--         <a th:href="@{/about}">2</a> -->
	<!--         <a th:href="@{/blog}">3</a> -->
	<!--         <a th:href="@{/contact}">4</a> -->
	<!--     </nav> -->

	<footer th:fragment="footer">
		<br>
		<p>&copy; Progetto-M21 @Ingegneria del Software, Università degli Studi di Pavia</p>
	</footer>
</body>
</html>
