<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>view Orders</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="./style.css">

</head>
<body>
	<div th:fragment="products">
		<div th:id="|demo${order.orderDetailsId}|" class="accordian-body accordion-toggle collapse">
			<table class="table table-striped">
				<thead>
					<tr class="info">
						<th>Height</th>
						<th>Length</th>
						<th>Weight</th>
						<th>Width</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="product : ${order.products}">
						<td th:text="${product.height} ?: 'null'"></td>
						<td th:text="${product.length} ?: 'null'"></td>
						<td th:text="${product.weight} ?: 'null'"></td>
						<td th:text="${product.width} ?: 'null'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

</body>
</html>