<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Edit account</title>

<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">


</head>


<body class="text-center">

	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

		<!--  NAVBAR -->
		<header th:replace="fragments/components:: navbar"></header>



		<!-- PRINCIPALE -->
		<main role="main" class="inner cover" style="width: 42em;">

			<h2>Edit an existing user</h2>
			<br>




			<form action="#" class="form-signin" th:action="@{/save}" th:object="${user}" method="post">

				<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
				</div>


				<div class="form-group row">

					<h1 class="col-sm-2 col-form-label">User ID</h1>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{userId}" readonly="readonly" autofocus="autofocus" />
					</div>

				</div>

				<div class="form-group row">

					<h1 class="col-sm-2 col-form-label">Email</h1>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{email}" autofocus="autofocus" />

					</div>

				</div>

				<div class="form-group row">

					<h1 class="col-sm-2 col-form-label">First Name</h1>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{firstName}" autofocus="autofocus" />
					</div>

				</div>

				<div class="form-group row">

					<h1 class="col-sm-2 col-form-label">Last Name</h1>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{lastName}" autofocus="autofocus" />
					</div>

				</div>

				<div class="form-group row" style="display: none;">

					<h1 class="col-sm-2 col-form-label">Password</h1>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{password}" autofocus="autofocus" />
					</div>

				</div>

				<div class="form-group row">

					<h1 class="col-sm-2 col-form-label">Role</h1>
					<div class="col-sm-10">
						<select class="custom-select" id="inputGroupSelect04" th:field="*{role}">
							<option value="1">Admin</option>
							<option value="2">Courier</option>
							<option value="3">Customer</option>
						</select>
					</div>

				</div>

				<div class="form-group row">

					<h1 class="col-sm-2 col-form-label">Enabled</h1>
					<div class="col-sm-3">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" th:field="*{Enabled}" name="inlineRadioOptions" id="inlineRadio1"
								value="true">
							<label class="form-check-label" for="inlineRadio1">True</label>
						</div>

						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" th:field="*{Enabled}" name="inlineRadioOptions" id="inlineRadio2"
								value="false">
							<label class="form-check-label" for="inlineRadio2">False</label>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-success btn-lg btn-block" style="margin-top: 2em;">Save</button>
			</form>

		</main>


		<!--  FOOTER -->
		<footer th:replace="fragments/components:: footer"> </footer>

	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
