<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">



<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/cover.css">



<title>Online Locker Services @ Progetto-M21</title>

</head>

<body class="text-center">

	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

		<!-- ############ NAVBAR ############ -->
		<header th:replace="fragments/components:: navbar"></header>


		<!-- ############  MAIN ############ -->
		<main role="main" class="inner cover">

			<h2>Login</h2>
			<br>
			<form action="#" th:action="@{/login}" method='POST'>
				<div class="form-group">
					<input type="email" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Email Address"
						required="required" autofocus="autofocus">
				</div>

				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" name="password" required="required"
						autofocus="autofocus">
				</div>

				<button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
			</form>

			<a role="button" class="btn btn-success btn-lg" th:href="@{/register}" style="margin-top: 20px;"> Create New
				Account </a>
				
		</main>


		<!-- ############  FOOTER ############ -->
		<footer th:replace="fragments/components:: footer"> </footer>

	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
