<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Online Delivery Services @Progetto-M21</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
<meta name="author" content="FreeHTML5.co" />

<div th:replace="fragments/css" :: css></div>

</head>
<body>

  <div th:replace="fragments/components :: navbar"></div>

	<section id="fh5co-home" data-section="home"
		style="background-image: url(../../images/index-background.jpg);"
		data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="animate-box">
								<span class="big">Deliveries</span>
								<br>
								<span>turned into a simple</span>
								<br>
								<span class="medium">User interface</span>
								<br>
								<span>for all to</span>
								<br>
								<span class="medium">Enjoy.</span>
							</h1>
<!-- 							<h2 class="animate-box"> -->
<!-- 								Crafted with love by -->
<!-- 								<a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a> -->
<!-- 							</h2> -->
							<div class="call-to-action">
								<a href="#" class="demo animate-box">
									<i class="icon-search"></i>
									Search
								</a>
								<a href="login" class="download animate-box">
									<i class="icon-arrow-up"></i>
									Login
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<!-- 	<div> -->
<!-- 		<div th:insert="fragments/components :: header"></div> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<div th:insert="fragments/components :: menu"></div> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<a th:href="@{/login}">Login</a> -->
<!-- 	</div> -->

<div th:insert="fragments/components :: footer"></div>
<div th:replace="fragments/jQuery :: jQuery"></div>

</body>
</html>
