<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">



<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">



<title>Online Locker Services @ Progetto-M21</title>

</head>

<body class="text-center">

	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

		<!-- ############ NAVBAR ############ -->
		<header th:replace="fragments/components:: navbar"></header>


		<!-- ############  MAIN ############ -->
		<main role="main" class="inner cover">

			<h1 class="cover-heading">Welcome</h1>
			<a th:href="@{/login}" class="btn btn-lg btn-secondary">Login</a>
			<a th:href="@{/register}" class="btn btn-lg btn-secondary">Register</a>
			<form action="#" method="POST">
			<h1>Pick Up a Package</h1>
				<input type="text">
				<button>Pick up</button>
			</form>


		</main>


		<!-- ############  FOOTER ############ -->
		<footer th:replace="fragments/components:: footer"> </footer>

	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
