<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<!--  Refresh pagina ogni 40 secondi  -->
<meta charset="UTF-8" http-equiv="refresh" content="40">


<title>Online Delivery Services @Progetto-M21</title>

<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/cover.css">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script src="/JS/notification.js" type="text/javascript"></script>

<style>
th {
	background: #3d414a;
	border: solid;
	border-color: grey;
	width: 35%;
}

tr {
	line-height: 14px;
}
</style>

</head>

<body>

	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
		<!--  NAVBAR -->
		<header th:replace="fragments/components:: navbar"></header>


		<!--  PRINCIPALE -->
		<main role="main" class="inner cover">


			<!--  Gestione Tracking code errato -->
			<div th:if="${error}" class="alert alert-danger">
				<p th:text="${error}"></p>
			</div>

			<!--  Gestione errore formato file -->
			<div th:if="${errorfile}" class="alert alert-danger">
				<p th:text="${errorfile}"></p>
			</div>

			<!--  Gestione file vuoto -->
			<div th:if="${emptyfile}" class="alert alert-danger">
				<p th:text="${emptyfile}"></p>
			</div>



			<th:block th:each="order : ${listOrders}">
				<td th:switch="${#strings.toString(order.deliveryDetails.deliveryStatus)}">


					<!--  NOTIFICA CUSTOMER  -->
					<span th:case="'DELIVERED'" sec:authorize="hasAnyAuthority('CUSTOMER')">


						<script th:inline="javascript">
							var orderId = /*[[${order.orderDetailsId}]]*/'';

							var lockerCity = /*[[${order.locker.lockerAddress.city}]]*/'';
							var lockerAddress = /*[[${order.locker.lockerAddress.address}]]*/'';

							var lockerInfo = lockerAddress.concat(", "
									+ lockerCity);

							var pickupCode = /*[[${order.pickupCode}]]*/'';
							customerNotification(orderId, pickupCode,
									lockerInfo);
						</script>

					</span>


					<!--  NOTIFICA COURIER  -->
					<span th:case="'WITHDRAWN'" sec:authorize="hasAnyAuthority('COURIER')">
						<script th:inline="javascript">
							var orderId = /*[[${order.orderDetailsId}]]*/'';
							courierNotification(orderId);
						</script>
					</span>

				</td>
			</th:block>

			<h1 style="margin-bottom: 15px;">Personal Data</h1>
			<table class="table table-dark" style="text-align: left;">

				<tbody>
					<tr>
						<th>First Name</th>
						<td th:text="${#authentication.getPrincipal().getUser().getFirstName()}"></td>
					</tr>

					<tr>
						<th>Last Name</th>
						<td th:text="${#authentication.getPrincipal().getUser().getLastName()}"></td>
					</tr>

					<tr>
						<th>Email</th>
						<td sec:authentication="name"></td>
					</tr>

					<tr>
						<th>Registration date</th>
						<td th:text="${#authentication.getPrincipal().getUser().getRegistrationDate()} ?: 'null'"></td>
					</tr>

					<tr>
						<th>User type</th>
						<td sec:authentication="principal.authorities"></td>
					</tr>
				</tbody>
			</table>

			<a th:href="@{/Orders}" sec:authorize="hasAnyAuthority('CUSTOMER', 'COURIER')" class="btn btn-success btn-lg"
				role="button" aria-pressed="true" style="display: block; margin-top: 20px;">Your orders</a>

			<th:block sec:authorize="hasAnyAuthority('ADMINISTRATOR')">

				<div style="margin-top: 4em">
					<h1 style="margin-bottom: 15px; text-align: left;">Upload Orders</h1>
					<form th:action="@{/uploadFile}" enctype="multipart/form-data" method="post">
						<div class="input-group">
							<div class="custom-file">
								<input type="file" class="custom-file-input" th:name="file" id="customFile">
								<label class="custom-file-label" for="customFile">Choose file</label>
							</div>
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit" id="myInput">Upload</button>
							</div>

						</div>
					</form>
				</div>

				<a th:href="@{/Orders}" class="btn btn-lg btn-success" role="button" aria-pressed="true"
					style="display: block; margin-bottom: 15px; margin-top: 30px;">All orders</a>
				<a th:href="@{/register}" class="btn btn-lg btn-success" role="button" aria-pressed="true"
					style="display: block; margin-bottom: 15px;">Add User</a>
				<a th:href="@{/UserList}" class="btn btn-lg btn-success" role="button" aria-pressed="true"
					style="display: block; margin-bottom: 15px;">User List</a>

				<a th:href="@{/lockers}" class="btn btn-lg btn-success" role="button" aria-pressed="true" style="display: block;">Lockers
					Status</a>
			</th:block>

			<div sec:authorize="hasAnyAuthority('CUSTOMER')" style="margin-top: 3em;">

				<h2>Add order to profile</h2>

				<form th:action="@{/add}" method="get">
					<div class="form-group">
						<input type="text" th:name="tracking" th:placeholder="Tracking" class="form-control" required="required"
							autofocus="autofocus" />
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block" aria-pressed="true">Add</button>
				</form>

			</div>



		</main>

		<!--  FOOTER -->
		<footer th:replace="fragments/components:: footer"> </footer>

	</div>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
	<script>
		document
				.querySelector('.custom-file-input')
				.addEventListener(
						'change',
						function(e) {
							var fileName = document
									.getElementById("customFile").files[0].name;
							var nextSibling = e.target.nextElementSibling
							nextSibling.innerText = fileName
						})
	</script>
</body>
</html>