<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<!--  Refresh pagina ogni 30 secondi  -->
<meta charset="UTF-8" http-equiv="refresh" content="30">

<title>Online Delivery Services @Progetto-M21</title>

<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">

<script src="/JS/notification.js" type="text/javascript"></script>

</head>

<body class="text-center">



	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
		<!--  NAVBAR -->
		<header th:replace="fragments/components:: navbar"></header>


		<!--  PRINCIPALE -->
		<main role="main" class="inner cover">

			<th:block th:each="order : ${listOrders}">
				<td th:switch="${#strings.toString(order.deliveryDetails.deliveryStatus)}">


					<!--  NOTIFICA CUSTOMER  -->
					<span th:case="'DELIVERED'" sec:authorize="hasAnyAuthority('CUSTOMER')">


						<script th:inline="javascript">
							var orderId = /*[[${order.orderDetailsId}]]*/'';
							var role = /*[[${#authentication.getPrincipal().getUser().getRole().getName()}]]*/'';
							notify(orderId, role);
						</script>

					</span>


					<!--  NOTIFICA COURIER  -->
					<span th:case="'WITHDRAWN'" sec:authorize="hasAnyAuthority('COURIER')">
						<script th:inline="javascript">
							var orderId = /*[[${order.orderDetailsId}]]*/'';
							var role = /*[[${#authentication.getPrincipal().getUser().getRole().getName()}]]*/'';
							notify(orderId, role);
						</script>
					</span>

				</td>
			</th:block>



			<span>Welcome</span>
			<br>
			<span sec:authentication="name">Username</span>
			<br>
			<i>
				<span sec:authentication="principal.authorities">Roles</span>
			</i>
			<br>
			<div sec:authorize="hasAnyAuthority('CUSTOMER')">
				<h2>Add order to profile</h2>
				<form th:action="@{/add}" method="get">
					<input type="text" th:name="tracking" th:placeholder="Tracking" style="color: black;" />
					<button type="submit">Add</button>
				</form>

				<a th:href="@{/viewCustomerOrders}">Your orders</a>
			</div>

			<div sec:authorize="hasAnyAuthority('COURIER')">
				<h2>Check your orders</h2>
				<a th:href="@{/viewCourierOrders}">Your orders</a>
			</div>
		</main>

		<!--  FOOTER -->
		<footer th:replace="fragments/components:: footer"> </footer>

	</div>

	<script src="/JS/jquery.min.js"></script>
	<script src="/JS/popper.min.js"></script>
	<script src="/JS/bootstrap.min.js"></script>
</body>
</html>