<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Register a new account</title>

<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">


</head>


<body class="text-center">

	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

		<!--  NAVBAR -->
		<header th:replace="fragments/components:: navbar"></header>



		<!-- PRINCIPALE -->
		<main role="main" class="inner cover">

			<h2>Register</h2>
			<br>
			<form action="#" class="form-signin" th:action="@{/register}" th:object="${user}" method="post">
			
				<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" th:field="*{email}" placeholder="Email" th:errorclass="is-invalid"
						required="required" autofocus="autofocus" aria-describedby="emailHelp"/>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" th:field="*{firstName}" placeholder="First name" th:errorclass="is-invalid"
						required="required" autofocus="autofocus">
				</div>

				<div class="form-group">
					<input type="text" class="form-control" th:field="*{lastName}" placeholder="Last name" th:errorclass="is-invalid"
						required="required" autofocus="autofocus">
				</div>

				<div class="form-group">
					<input type="password" class="form-control" th:field="*{password}" placeholder="Password"
						th:errorclass="is-invalid" required="required" autofocus="autofocus">
				</div>

				<button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
			</form>



		</main>


		<!--  FOOTER -->
		<footer th:replace="fragments/components:: footer"> </footer>

	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>