<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

<title>Register a new account</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
</head>


<body class="text-center">
	<form action="#" class="form-signin" th:action="@{/register}" th:object="${user}" method="post">
		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
		</div>

		<img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
			height="72">
		<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

		<div class="input-group mb-3">
			<input type="text" class="form-control" th:field="*{email}" placeholder="Email" th:errorclass="is-invalid">
		</div>

		<div class="input-group mb-3">
			<input type="text" class="form-control" th:field="*{firstName}" placeholder="First name" th:errorclass="is-invalid">
		</div>

		<div class="input-group mb-3">
			<input type="text" class="form-control" th:field="*{lastName}" placeholder="Last name" th:errorclass="is-invalid">
		</div>

		<div class="input-group mb-3">
			<input type="password" class="form-control" th:field="*{password}" placeholder="Password" th:errorclass="is-invalid">
		</div>

		<div class="input-group mb-3">
			<input type="password" class="form-control" placeholder="Retype password">
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>

	</form>
</body>
</html>