<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<!--  Refresh pagina ogni 40 secondi  -->
<meta charset="UTF-8" http-equiv="refresh" content="40">


<title>Courier List</title>

<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/cover.css">

</head>

<body class="text-center">



	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="max-width: 74em;">

		<!-- ############ NAVBAR ############ -->
		<header th:replace="fragments/components:: navbar"></header>


		<!-- ############  MAIN ############ -->
		<main role="main" class="inner cover">

			<!--  Gestione pickup code errato -->
			<div th:if="${error}" class="alert alert-danger">
				<p th:text="${error}"></p>
			</div>

			<!-- TABELLA PRINCIPALE -->
			<table class="table table-dark" style="margin-top: 3em;">

				<!--  INTESTAZIONE TABELLA PRINCIPALE: 7 colonne -->
				<thead style="background: #3d414a;">
					<tr>
						<th>User ID</th>
						<th>Email</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>User Type</th>
						<th>Enabled</th>
						<th style="width: 190px;">Edit</th>
					</tr>
				</thead>
				<!--  INTESTAZIONE TABELLA PRINCIPALE: 7 colonne -->


				<!--  CORPO TABELLA PRINCIPALE -->
				<tbody>

					<!-- PER OGNI ORDINE -->
					<th:block th:each="user : ${listUsers}">

						<!--#1 7 COLONNE + BOTTONE -->
						<tr>

							<td th:text="${user.userId}">User ID</td>
							<td th:text="${user.email} ?: ''">Email</td>
							<td th:text="${user.firstName} ?: ''">First Name</td>
							<td th:text="${user.lastName} ?: ''">Last Name</td>
							<td th:text="${user.Role.Name} ?: ''" style="font-weight: bold;">User Type</td>
							<td th:text="${user.enabled}">Enabled</td>

							<td style="min-width: 200px;">
								<div class="row">
									<div class="col">
										<a role="button" class="btn btn-outline-warning" style="font-weight: bold; display: block;"
											th:href="@{'/editUser/' + ${user.userId}}">Edit User</a>
									</div>
									<div class="col">
										<button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="|#demo${user}|">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
												viewBox="0 0 16 16">
  													<path
													d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
  													<path fill-rule="evenodd"
													d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
  											</svg>
										</button>
									</div>
								</div>

								<!-- Modal -->
								<div class="modal fade" th:id="|demo${user}|" tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLongTitle" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content" style="background-color: #005ebfbd;">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">

												<p>Are you sure you want to delete [[${user.email}]]?</p>
											</div>
											<div class="modal-footer">

												<button type="button" class="btn btn-light" data-dismiss="modal">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
														viewBox="0 0 16 16">
  														<path
															d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
													</svg>
													Close
												</button>


												<a role="button" class="btn btn-light" th:href="@{'/delete/' + ${user.userId}}">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
														viewBox="0 0 16 16">
  														<path
															d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
  														<path fill-rule="evenodd"
															d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
													</svg>
													Delete
												</a>
											</div>
										</div>
									</div>
								</div>
							</td>

						</tr>

					</th:block>
				</tbody>
			</table>
		</main>


		<!-- ############  FOOTER ############ -->
		<footer th:replace="fragments/components:: footer"> </footer>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

</body>
</html>