<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<!--  Refresh pagina ogni 30 secondi  -->
<meta charset="UTF-8" http-equiv="refresh" content="30">

<title>View Orders</title>

<link rel="icon" href="/images/favicons/favicon.ico">

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script src="/JS/notification.js" type="text/javascript"></script>

</head>

<body class="text-center">



	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="max-width: 74em;">

		<!-- ############ NAVBAR ############ -->
		<header th:replace="fragments/components:: navbar"></header>


		<!-- ############  MAIN ############ -->
		<main role="main" class="inner cover">

			<!--  Gestione pickup code errato -->
			<div th:if="${error}" class="alert alert-danger">
				<p th:text="${error}"></p>
			</div>

			<!-- TABELLA PRINCIPALE -->
			<table class="table table-dark" style="margin-top: 3em;">

				<!--  INTESTAZIONE TABELLA PRINCIPALE: 8 colonne -->
				<thead style="background: #3d414a;">
					<tr>
						<th></th>
						<th>Order ID</th>
						<th>Tracking Code</th>
						<th>Pickup Code</th>
						<th>Locker Name</th>
						<th>Locker Address</th>
						<th>Status</th>
						<th sec:authorize="hasAnyAuthority('CUSTOMER')">Withdraw</th>
						<th sec:authorize="hasAnyAuthority('COURIER')">Deliver</th>
					</tr>
				</thead>
				<!--  INTESTAZIONE TABELLA PRINCIPALE: 8 colonne -->


				<!--  CORPO TABELLA PRINCIPALE -->
				<tbody>

					<!-- PER OGNI ORDINE -->
					<th:block th:each="order : ${listOrders}">

						<!--#1 7 COLONNE + BOTTONE -->
						<tr>
							<td>

								<button type="button" data-toggle="collapse" class="btn btn-outline-light"
									th:data-target="|#demo${order.orderDetailsId}|">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
										viewBox="0 0 16 16">
  <path
											d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
</svg>

								</button>

							</td>
							<td th:text="${order.orderDetailsId}">Order ID</td>
							<td th:text="${order.trackingCode}">Tracking Code</td>
							<td th:text="${order.pickupCode} ?: ''">Pickup Code</td>
							<td th:text="${order.locker.name} ?: ''">Locker Name</td>
							<td th:text="${order.locker.lockerAddress.city} ?: ''">Locker address</td>
							<td th:text="${order.deliveryDetails.deliveryStatus}">Status</td>

							<!-- VERIFICA LO STATO E IL RUOLO DELL'UTENTE PER INSERIMENTO DELL'APPOSITO PULSANTE -->
							<td th:switch="${#strings.toString(order.deliveryDetails.deliveryStatus)}" style="width: 256px;">

								<th:logic th:case="'DELIVERED'" sec:authorize="hasAnyAuthority('CUSTOMER')">


									<form action="#" th:action="@{/withdraw}" method="get">
										<div class="form-row">
											<div class="col">
												<input type="text" th:name="pickupCode" name="pickupCode" placeholder="Pickup code" class="form-control">
											</div>
											<div class="col">
												<button type="submit" class="btn btn-outline-light btn-sm">Pickup</button>
											</div>
										</div>
									</form>


									<!--  NOTIFICA CUSTOMER  -->
									<script th:inline="javascript">
										var orderId = /*[[${order.orderDetailsId}]]*/'';
										customerNotification(orderId);
									</script>

								</th:logic>

								<th:logic th:case="'DELIVERING'" sec:authorize="hasAnyAuthority('COURIER')">
									<a style="color: green !important;" th:href="@{'/deliver/' + ${order.orderDetailsId}}">Deliver</a>
								</th:logic>

								<th:logic th:case="'WITHDRAWN'" sec:authorize="hasAnyAuthority('COURIER')">

									<!--  NOTIFICA COURIER  -->
									<script th:inline="javascript">
										var orderId = /*[[${order.orderDetailsId}]]*/'';
										courierNotification(orderId);
									</script>
								</th:logic>

								<div th:case="*"></div>
							</td>
						</tr>

						<!--#2 TABELLA SECONDARIA: 3 colonne -->
						<tr th:id="|demo${order.orderDetailsId}|" class="collapse">
							<td colspan="8">


								<table class="table-dark" style="margin-left: 11%;">
									<thead style="background: #3d414a;">
										<tr class="info">
											<th>View Products</th>
											<th>Delivery Date</th>
											<th>Data Deliverd</th>
											<th>Withdrawal Date</th>
										</tr>
									</thead>

									<tbody>

										<tr>
											<td>
												<button type="button" data-toggle="collapse" class="btn btn-outline-danger collapsed"
													th:data-target="|#demo2${order}|">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-view-list"
														viewBox="0 0 16 16">
  <path
															d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z" />
</svg>

												</button>
											</td>
											<td th:text="${order.deliveryDetails.deliveryDate} ?: 'null'"></td>
											<td th:text="${order.deliveryDetails.dataDeliverd} ?: 'null'"></td>
											<td th:text="${order.deliveryDetails.withdrawalDate} ?: 'null'"></td>
										</tr>


										<!--  Era qui  -->




									</tbody>
								</table>
							</td>
						</tr>


						<!--  Da inserire qui  -->
						<tr th:id="|demo2${order}|" class="collapse">
							<td colspan="8">
								<table class="table-dark" style="margin-left: 11%;">
									<thead style="background: #3d414a;">
										<tr class="info">
											<th>ProductId</th>
											<th>Size</th>
											<th>Slot</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="product : ${order.products}">
											<td th:text="${product.productId} ?: 'null'"></td>
											<td>------</td>
											<td>xyz</td>
											<!--  <td th:text="${product.size} ?: 'null'"></td> -->
											<!--  <td th:text="${product.slot} ?: 'null'"></td> -->
										</tr>
									</tbody>
								</table>
							</td>
						</tr>



					</th:block>
				</tbody>
			</table>
		</main>


		<!-- ############  FOOTER ############ -->
		<footer th:replace="fragments/components:: footer"> </footer>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

</body>
</html>