<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>view Orders</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="./style.css">

</head>
<body>
	<div class="container">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Orders</div>
				<div class="panel-body">
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th></th>
								<th>Order ID</th>
								<th>Tracking Code</th>
								<th>Pickup Code</th>
								<th>Locker Name</th>
								<th>Locker address</th>
								<th>Status</th>
								<th>Withdraw</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="order : ${listOrders}" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
								<td>
									<button class="btn btn-default btn-xs" th:attr="orderId=${order.orderDetailsId}">
										<span class="glyphicon glyphicon-eye-open"></span>
									</button>
								</td>

								<td th:text="${order.orderDetailsId}">Order ID</td>
								<td th:text="${order.trackingCode}">Tracking Code</td>
								<td th:text="${order.pickupCode} ?: ''">Pickup Code</td>
								<td th:text="${order.locker.name}">Locker Name</td>
								<td th:text="${order.locker.lockerAddress.city}">Locker address</td>
								<td th:text="${order.deliveryDetails.deliveryStatus}">Status</td>
								<td th:if="${order.deliveryDetails.deliveryStatus} == ${order.deliveryDetails.deliveryStatus.DELIVERED}">
									<a th:href="@{'/withdraw/' + ${order.orderDetailsId}}">Withdraw</a>
								</td>
							</tr>
							
							<tr>
								<div th:replace="fragments/product ;; products"></div>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>